
form{
    width: 300px;
    height: 300px;
    background-color:white;
     color: black;
     font-family: "josefin Sans",
     sans-serif;
     font-size: large;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 20px 25px
     chocolate;
     padding: 20px;
     border-radius: 024px;
     border: 1px sandybrown;
    box-shadow: 7px 5px 2px #0b399d33;
    transition: 
    transition 0.3s ease,
    box-shadow 0.3s ease;
     

}
body{
    display: flex;
     justify-content: center;
     align-items: center;
     background-color: cornflowerblue;
     
     
}
.form-group{
margin: 15px;


}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px sandybrown;
    box-shadow: 7px 5px 2px #02020233;
    transition: 
    transition 0.3s ease,
    box-shadow 0.3s ease;
}
input { 
    transition: scale (1.05);
    box-shadow: 0px 0px 15px
    #0000004d;
}
input::placeholder{
font-size: "josefin Sans",
sans-serif;
}
label {
    margin-bottom: 5px;
}
button {
    
    background: linear-gradient(to right,
    #f9ce34, #ee2a7d);
    color: aliceblue;
     padding: 10px 20px;
     border-radius: 12px;
     margin-top: 3px;
     font-size: inherit;
     cursor: pointer;
     font-family: "josefin Sans",
     sans-serif;
     transition:
       transition 0.3s ease,
       box-shadow 0.3s ease;
}